div[data-component-term='user_recommendations'],
div[data-component-term='trends'],
div[data-component-term='similar_user_recommendations']
{
  display: none !important;
}

div[data-component-term='footer']
{
  position:fixed;
  bottom:0;
  left:-300px;
  width:300px;
}

#doc .wrapper
{
  width: 723px;
}

#doc .global-nav .container
{
  width: 750px;
}

/*---------*/
/* Profile */
/*---------*/
#doc .content-main, #doc .dashboard
{
  width:auto;
  float:none;
}

#doc .profile-summary
{
  padding: 9px 12px 12px 12px;
}

#doc .js-mini-profile-stats-container
{
  position:absolute;
  right:10px;
  top:0;
}

#doc .js-mini-profile-stats-container ul
{
  border:none;
}

#doc .tweet-box
{
  background-color: #f9f9f9;
}

#doc .tweet-box.tweet-user
{
  padding-top: 0;
}

#doc .tweet-box textarea.twitter-anywhere-tweet-box-editor
{
  width: 98% !important;
}

#doc .js-mini-profile-stats-container .stats a
{
  text-align: center;
  padding: 12px;
}

/*----------*/
/* Timeline */
/*----------*/
#doc .tweet.hover {
  background-color: #fffdf6;
}

#doc .tweet.hover img.avatar {
  box-shadow: 0 0 10px #999;
}

#doc .content-header .header-inner
{
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #f9f9f9;
}

#doc .content-header .header-inner h2
{
  font-size: 14px;
}

#doc .stream-item-header {
  padding-bottom: 3px;
}

#doc .stream-item-footer {
  position: absolute;
  top: 9px;
  right: 60px;
  opacity: 0.5;
}

#doc .stream-item-footer .context {
  text-align: right;
}

#doc .stream-item-footer .js-details {
  display: none;
}

/*-----------------*/
/* Compact retweet */
/*-----------------*/
#doc div[data-retweet-id]
{
  min-height: 0;
  background-color: #f3f3f3;
  opacity: 0.5;
}

#doc div[data-retweet-id] img.avatar
{
  display: none;
}

#doc div[data-retweet-id] p.js-tweet-text
{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 620px;
}

#doc div[data-retweet-id] .stream-item-footer
{
  position: absolute;
  top: 8px;
  right: 13px;
  opacity: 1;
}

#doc div[data-retweet-id] .stream-item-header small.time
{
  display: none;
}

#doc div[data-retweet-id].hover {
  background-color: #e5e2e2;
}

#doc div[data-retweet-id].hover .stream-item-footer ul.tweet-actions
{
  display: none;
}

/*----------------*/
/* Expand retweet */
/*----------------*/
#doc div.expanding-stream-item.open div[data-retweet-id]
{
  background-color: #fff;
  opacity: 1;
}

#doc div.expanding-stream-item.open div[data-retweet-id] p.js-tweet-text
{
  overflow: visible;
  white-space: normal;
  width: auto;
}

#doc div.expanding-stream-item.open div[data-retweet-id] img.avatar
{
  display: block;
}

#doc div.expanding-stream-item.open div.hover[data-retweet-id] ul.tweet-actions {
  display: block;
}

/*
#doc div.expanding-stream-item.open div[data-retweet-id] ul.actions
{
  display: block;
}*/
/*
#doc div.expanding-stream-item.open div[data-retweet-id] .stream-item-footer
{
  position: relative;
  right: 0;
  top: 5px;
}
*/
/*-----*/
/* Nav */
/*-----*/
#doc li .chev-right
{
  display: none;
}

#doc li:hover .chev-right
{
  display: block;
  -webkit-transform: rotate(90deg);
}

#doc li.active .chev-right
{
  display: block;
  -webkit-transform: rotate(90deg);
  background-position: 0 -160px;
}
